video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

#title {
  color: #FFFFFF;
  text-align: center;
  margin-top: 32vh;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(../images/color-cloud.mp4) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

.ink-navigation {
  height: 100px;
}

.mainclass{
  width: 100%;
}

.image img {
  max-width: 650px;
}
