<main>
  <style>
    .progress-section {
      height: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-style: solid;
      border-width: 5px;
      border-color: gray;
      font-size: 2.5em;
      color: white;
    }

    .loader-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .check-done {
      font-size: 2em;
    }
  </style>
  <h1 class="center">Analyzing toke on our 75 point scale</h1>
  <br>
  <br>
  <br>
  <div class="row">
    <div ng-repeat="loader in $ctrl.loading" class="col s2 blue lighten-3 progress-section"
      ng-class="{
        blue: loader.done,
        grey: !loader.done && !loader.loading
      }">
      <div class="loader-text">
        <p ng-if="loader.loading">{{loader.text}}</p>
        <i ng-if="!loader.loading && loader.done" class="material-icons green-text check-done">done</i>
        <div ng-if="loader.loading && !loader.done" class="preloader-wrapper active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center" ng-if="$ctrl.done">
    <a ui-sref="caption" class="waves-effect waves-light btn-large green" style="font-size: 4em;">Ready</a>
  </div>
</main>
