<main>
  <main >
    <section>
          <h2>Upload Your Toke</h2>
          <form name="URLForm">
            <div ng-class="{ 'has-error': URLForm.$invalid }">
              <div>
                  <span><input type="text" id="URL" name="URL" class="control" ng-minlength=5 placeholder="your URL here..." ng-model="$ctrl.URLs.text" required></span>
                  <button class="ink-button" ng-click="$ctrl.URLAdd()" ng-disabled="URLForm.$invalid">Interpret</button>
                  <span class="error" ng-show="URLForm.URL.$dirty && URLForm.secret.$invalid">
              </div>
          </div>

          </form>
          <button ng-click="">Interpret</button>
  </section>
  </main>
</main>
